.LoginPage {
  background-image: url(../../../assets/images/BackgroundBanner.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 92vh;
  background-image: linear-gradient(to top, rgba(33, 36, 71, 0.6) 0 100%),url(../../../assets/images/BackgroundBanner.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.LoginContainerForm {
  width: 100%;
  height: fit-content;
  max-width: 500px;
  background-color: white;
  border-radius: 12px;
  padding: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1.5);
}

.LoginLink {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap:8px;
}

.LoginLink a {
  color: var(--primary-color);
}

@media screen and (max-width: 700px) { 
  .LoginPage {
    flex-direction: column;
    padding: 12px;
  }

  .LoginContainer {
    display: none;
  }

  .LoginContainerForm  {
    padding: 12px;
  }
}