
:root {
  --secondary-dark:#363636;
  --primary-color: #0254AA;
  --primary-gray: #736f72;
  --secondary-gray: #9a8f97;
  --primary-white: #fff;
  --secondary-white: #e9e3e6;
  --accent-white: #c3baba;
  --primary-danger: #FF3D3D;
}


*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  color: var(--secondary-dark);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}



h1 {
  font-size: clamp(2.8125rem, 1.0156rem + 5.75vw, 4.25rem);
}

h2 {
  font-size: clamp(2.1875rem, 0.3906rem + 5.75vw, 3.625rem);
}

h3 {
  font-size: clamp(1.5625rem, -0.2344rem + 5.75vw, 3rem);
}

h4 {
  font-size: clamp(0.9375rem, -0.0781rem + 3.25vw, 1.75rem);
}

p {
  color: var(--secondary-gray);
}

a {
  text-decoration: none;
  color: var(--primary-gray);
}

.PageContainer{
  top: 75px;
  position: relative;
  min-height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
}
ul {
  list-style: none;
}